body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-hand-drawn-rider-silhouette-riding-competition-poster-background-material-image_138415.jpg');
    background-repeat: no-repeat;
    background-size:100%
    
}