.destination-style{
   
    
}

.card-style
{
    
    margin-top:100px;
    
   
}
.card-style img{
    width:50px;
    height:50px;

}
.map-style{
    height:250px;
    width:200px;
   
    
}
.div-style{
    border: 1px solid gray;
    padding-left: 60px;
}

